[submodule "imx_starknet"]
	url = https://github.com/immutable/imx-starknet
	path = lib/imx_starknet
[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "cairo_lib"]
	url = https://github.com/aspectco/cairo-lib
	path = lib/cairo_lib
[submodule "cairo_lib_git"]
	url = https://github.com/aspectco/cairo-lib.git
	path = lib/cairo_lib_git
[submodule "starknet_felt_packing"]
	url = https://github.com/gaetbout/starknet-felt-packing
	path = lib/starknet_felt_packing
